.hero {
  background: #ffffff;
  height: 80vh;
  background: linear-gradient(
    to top,
    rgba(74, 75, 153, .3),
    rgba(255, 255, 255, 1),
    ),url(/../../../assets/500057674.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 2rem;
    margin-top: 30vh;
  }

  a {
    font-size: 3rem;
    margin-top: auto;
    color: #FFF;
    transition: 700ms;
    align-self: center;
  }
  
  a:hover {
    cursor: pointer;
    color: rgba(74, 75, 153, 1);
  }
}