.resume {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 24px;
    padding-bottom: .5rem;
  }

  h4 {
    font-weight: bold;
    padding-bottom: .25rem;
  }
  
  p {
    padding-bottom: .5rem;
  }
  
  .item {
    display: inline-flex;
    padding-bottom: 1.5rem;
  }

  .item-img-container img {
    width: 100px;
    margin-right: 20px;
  }

  li {
    margin-left: 20px;
    list-style: disc;
    list-style-position: outside;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 650px) {
    .item-img-container img {
      width: 50px;
    }
  }  
}
