@import "../../style/vars";

.about {
  width: $page-width;
  margin: auto;
  display: flex;

  img {
    align-self: center;
    border-radius: 50%;
    width: 20%;
  }
  
  div {
    text-align: center;
  }
  
  p {
    margin-top: 10px;
  }
}