.nav {
  border-top: 5px #3C7596 solid;
  font-family: 'Poppins', sans-serif;

  .content {
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    
    .content-title {
      display: flex;
    }

    img {
      width: 55px;
      height: 55px;
      margin-right: 5px;
    }
    
    h1 {
      font-size: 30px;
    }

    h2 {
      font-size: 20px;
    }
    
    ul {
      font-family: 'Avenir', sans-serif;
      border-top: 1px rgb(133, 133, 133) solid;
      margin-top: 20px;
      display: flex;

      li {
        border-top: 3px #FFF solid;
        padding-top: 5px;
        margin-left: 15px;

        a {
          color: black;
          text-decoration: none;
        }

        &.active {
          border-top: 3px #F7A961 solid;
          transition: 200ms ease-in-out;
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}